.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 1rem;

    width: auto;
    height: 5rem;
    background-color: var(--color-grey);        

    &__copyright {
        font-size: 1rem;
    }
}
